* {
  margin: 0px;
}

header {
  display: flex;
  flex-direction: row;
  height: 72px;
}

.logo_left {
  flex-basis: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
}
.middle {
  flex-basis: 50%;
}
.navbar_right {
  flex-basis: 25%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 15px;
}

.navbar_content {
  padding: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: black;
}

.section_1 {
  height: 670px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

.section_1_content {
  display: flex;
  flex-direction: row;
  flex-basis: 50%;
}

.section_1_col_1 {
  flex-basis: 50%;
}

.section_1_content_1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section_1_head {
  flex-basis: 50%;
  font-size: 50px;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(255, 89, 37);
  font-weight: 400;
  padding: 65px 0px 20px 0px;
}

.section_1_body {
  flex-basis: 50%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
  font-weight: 400;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.section_1_h3 {
  flex-basis: 90%;
}

.section_1_img {
  flex-basis: 10%;
}

.section_2 {
  display: flex;
  flex-direction: column;
  height: 877px;
  border-top: 1px solid black;
  padding: 0px 100px;
  align-items: center;
  justify-content: center;
}

.section_2_content_1 {
  display: flex;
  flex-direction: row;
}

.section_2_logo_section {
  display: flex;
  flex-direction: row;
  width: 444.5px;
}

.section_2_symbol {
  width: 30px;
  height: 30px;
  background-color: rgb(255, 87, 0);
  border-radius: 15px;
  margin: 40px 5px;
}
.section_2_logo_text {
  display: flex;
  flex-direction: column;
}

.section_2_h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 56px;
  font-weight: bold;
  padding: 20px;
}

.section_2_para {
  color: rgb(116, 116, 116);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 400;
  padding: 1rem;
}

.section_2_content_2 {
  width: 444.5px;
  display: flex;
  flex-direction: column;
}

.section_2_description > h4 {
  font-size: 20px;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  padding-top: 20px;
}

.section_2_link {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.section_2_link_text {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  font-size: 18px;
  font-weight: 700;
  padding: 20px 0px;
}

.section_2_link-arrow {
  padding-left: 20px;
}

.section_3_symbol {
  width: 30px;
  height: 30px;
  background-color: rgb(62, 131, 251);
  margin: 40px 5px;
}

.section_2_logo > img {
  color: green;
  margin-top: 40px;
}

.footer {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
}

.contact {
  display: flex;
  flex-direction: row;
  gap: 15px;
  padding-top: 40px;
}

.contact_text {
  font-size: 35px;
  font-family: Arial, Helvetica, sans-serif;
}

.contact > img {
  padding-left: 80px;
}

.socialmedia_link {
  padding: 30px 80px;
}

.socialmedia_link > ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  gap: 30px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 18px;
}
